body {
    padding-top: 5rem;
    width: auto;
    margin: 15px;
}

p {
    font-family: 'Abel', sans-serif;
    font-size: 22px;
    margin: auto;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.underline {
    border-bottom: 2px;
    border-bottom: black;
    border-bottom: solid;
    margin-bottom: 15px;
}

h1 {
    text-shadow: grey 3px 3px 5px;
}

.center {
    text-align: center;
}

input[type="file"] {
    max-width: 30%;
    margin-left: 35%;
    margin-right: 35%;
}

.live-code {
    background-color: lightgreen;
    margin-top: 10px;
    margin-bottom: 10px;
}

.shadow-box {
    box-shadow: 0px 2px 5px grey;
    padding: 5px;
    margin-bottom: 10px;
    border-width: thin;
    
}

.btn-group {
    text-align: center;
    display: block;
    margin-top: 5px;
    margin-bottom: 15px;
}

.kbd {
    display: inline-block;
    margin-right: 0px;
    margin-left: auto;
}


